.container1 {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.container1LeftPane {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.container1RightPane {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.weatherRefreshButton {
  /* padding: 10px 20px 0px 20px; */
  /* height: fit-content; */
  border: none;
  /* border-radius: 6px; */
  background: transparent;
  cursor: 'pointer';
  color: inherit;
}

.time {
  font-size: 15rem;
}

.date {
  font-size: 6rem;
}

.weatherIcon {
  font-size: 5rem;
  margin-right: 10px;
}

.widgetBig {
  /* background-color: rgba(109, 109, 109, 0.36); */
  /* padding: 20px; */
  border-radius: 10px;
  /* margin-right: 10px; */
  /* min-width: 35vw; */
  /* display: flex; */
  /* align-items: center; */
}

.widget {
  background-color: rgba(109, 109, 109, 0.36);
  padding: 5px 20px;
  border-radius: 10px;
  margin-right: 10px;
  min-width: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widgetDate {
  /* background-color: rgba(109, 109, 109, 0.36); */
  padding: 5px 20px;
  /* border-radius: 10px;
  margin-right: 10px; */
  min-width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature {
  font-size: 6rem;
}

.feelsLike {
  font-size: 3rem;
}

.flagSvg1 {
  height: 4rem;
  margin-right: 10px;
}

@media (min-width:1200px) {
  .widget {
    min-width: fit-content;
    margin-right: 0px;
    padding: 0px 3px 0px 3px;
  }
}

@media (max-width:980px) {
  .time {
    font-size: 12rem;
  }

  .date {
    font-size: 4rem;
  }

  .flagSvg1 {
    height: 2.9rem;
  }

  .weatherIcon {
    font-size: 4rem;
  }

  .temperature {
    font-size: 5rem;
  }

  .feelsLike {
    font-size: 2.5rem;
  }
  .widget {
    min-width: 40%;
  }

  .container1 {
    flex-direction: column;
    padding: 20px 20px;
  }
}

@media (max-width:850px) {
  .container1LeftPane {
    justify-content: center;
  }
}

@media (max-width:600px) {
  .time {
    font-size:10rem;
  }

  .date {
    font-size: 2.5rem;
  }

  .flagSvg1 {
    height: 2rem;
  }

  .weatherIcon {
    font-size: 4rem;
  }

  .temperature {
    font-size: 4rem;
  }

  .feelsLike {
    font-size: 2rem;
  }
  .widget {
    min-width: 36%;
  }

}
@media (max-width:400px) {
  .container1LeftPane {
    justify-content: center;
  }
  .time {
    font-size:7rem;
  }

  .date {
    font-size: 2rem;
  }

  .flagSvg1 {
    height: 2rem;
  }

  .weatherIcon {
    font-size: 3rem;
  }

  .temperature {
    font-size: 3rem;
  }

  .feelsLike {
    font-size: 1.5rem;
  }
  .widget {
    min-width: 70%;
    justify-content: space-between;
  }

}